.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
docs
Package.resolved
Demo/DSFPagerControl Demo/DSFPagerControl Demo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
